@import "tailwindcss";

@theme {
  --font-nunito: 'Nunito', sans-serif;
  
  /* Warna Custom RUSA */
  --color-primary: #3b82f6; /* Biru Langit */
  --color-secondary: #facc15; /* Kuning Ceria */
  --color-accent: #f43f5e; /* Merah Muda/Rose */
}

/* Animasi sederhana */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}